@font-face {
  font-family: roboto;
  src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: roboto;
}
body {
  background-color: #F8F8F8;
}
a {
  text-decoration: none;
  color: #000;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-end {
  justify-content: end !important;
}
.align-items-center {
  align-items: center;
}
.d-block {
  display: block !important;
}
.img-fluid {
  width: 100%;
  height: auto;
}
.border {
  border: 1px solid #c4c4c4;
}
.border-right-0 {
  border-right: none !important;
}
.border-left-0 {
  border-left: none !important;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left!important;
}
.w-100 {
  width: 100% !important;
}
.w-400 {
  width: 400px;
}
.h-auto {
  height: auto!important;
}
.p-0 {
  padding: 0 !important;
}
.p-3 {
  padding: 30px !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-1 {
  padding-right: 10px !important;
}
.pr-2 {
  padding-right: 20px !important;
}
.px-2 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.px-3 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.px-4 {
  padding-right: 40px !important;
  padding-left: 40px !important;
}
.pb-1 {
  padding-bottom: 10px !important;
}
.pb-2 {
  padding-bottom: 20px !important;
}
.pb-3 {
  padding-bottom: 30px !important;
}
.m-0 {
  margin: 0 !important;
}
.ml-auto {
  margin-left: auto !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.ml-1 {
  margin-left: 10px !important;
}
.ml-3 {
  margin-left: 30px !important;
}
.mr-1 {
  margin-right: 10px !important;
}
.mr-2 {
  margin-right: 20px !important;
}
.mr-3 {
  margin-right: 30px !important;
}
.mr-5 {
  margin-right: 50px !important;
}
.mt-1 {
  margin-top: 10px !important;
}
.mt-2 {
  margin-top: 20px !important;
}
.mt-3 {
  margin-top: 30px !important;
}
.mt-5 {
  margin-top: 50px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mb-1 {
  margin-bottom: 10px !important;
}
.mb-2 {
  margin-bottom: 20px !important;
}
.mb-3 {
  margin-bottom: 30px !important;
}
.mb-5 {
  margin-bottom: 50px !important;
}
.ml-300 {
  margin-left: 45%;
}
.h-900 {
  height: 900px;
}
.point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}
.point .point__icon {
  width: 60px;
  height: auto;
}
.point .point__number {
  font-size: 12px;
  font-weight: 400;
  color: #222222;
}
.point .point__number--gold {
  color: #EEA734;
}
.point .point__number--bold {
  font-weight: 700;
}
.point .point__number--big {
  font-size: 14px;
}
.product-discount {
  display: flex;
  align-items: center;
  background-color: #222222;
  text-decoration: none;
  width: 65px;
  height: 25px;
  padding: 5px 8px;
}
.product-discount .product-discount__icon {
  width: 20%;
  height: auto;
  margin-right: 10px;
}
.product-discount .product-discount__number {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}
.container {
  margin: 0 auto;
  width: 1200px;
}
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
}
.img-overlay img {
  padding-left: 15px;
  display: block;
  margin-bottom: 10px;
}
.img-overlay .img-overlay__text {
  font-size: 14px;
  font-weight: 300;
  background-color: #222222;
  padding: 5px 20px;
  color: #fff;
}
.img-overlay--right {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 15px;
}
.img-overlay--right img {
  width: 30px;
  height: auto;
}
.img-overlay__footer {
  position: absolute;
  bottom: 44px;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
}
.img-overlay__footer img {
  width: 50px;
  padding: 10px;
}
.img-overlay__footer--muted {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  background: #C4C4C480;
  width: 100%;
  padding: 10px 0px;
}
.img-overlay__footer--muted div {
  font-size: 10px;
  font-weight: 700;
  color: white;
}
.section {
  width: 100%;
}
.section .section__title {
  font-size: 24px;
  font-weight: 500;
  margin: 30px 0;
  text-transform: uppercase;
}
.section .section__title--center {
  text-align: center;
}
.section .section__title--bold {
  font-weight: 700;
}
.section .section__title--small {
  font-size: 16px;
}
.section .section__title--normal {
  font-weight: 700;
  font-size: 16px;
}
.advertisement {
  text-decoration: none;
}
.advertisement .advertisement-banner {
  background: #222222;
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
  height: 65px;
}
.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}
.topbar .lang {
  margin-right: 30px;
}
.topbar .lang .lang__icon {
  margin-right: 10px;
  width: 16px;
  height: auto;
}
.topbar .lang .lang__text {
  text-decoration: none;
  color: #ccc;
  font-weight: 400;
  font-size: 14, 5px;
}
.topbar .lang .lang__text--active {
  color: #000;
}
.topbar .switcher {
  margin-right: 10px;
}
.topbar .switcher .switcher__icon {
  width: 16px;
  height: auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
}
.header .header__logo {
  width: 100px;
  height: auto;
}
.search {
  display: flex;
  align-items: center;
  position: relative;
}
.search .search__input {
  width: 438px;
  height: 49px;
  padding: 18px 28px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #F3F3F3;
  padding-right: 60px;
  transition: 0.3s;
}
.search .search__input[placeholder] {
  font-size: 13px;
  font-weight: 400;
}
.search .search__input:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 2px solid black;
}
.search .search__icon {
  position: absolute;
  cursor: pointer;
  right: 5%;
}
.search:hover .search-dropdown {
  display: block !important;
}
.search-dropdown {
  display: none;
  position: absolute;
  border: 1px solid #8A8888;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 16px;
  height: auto;
  width: 100%;
  left: 0;
  top: 50px;
  border-radius: 4px;
  z-index: 1;
}
.search-dropdown .search-dropdown__header {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
.search-dropdown .search-dropdown-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.search-dropdown .search-dropdown-flex span {
  font-size: 14px;
  padding: 10px 20px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}
.search-dropdown .search-dropdown-flex .search-dropdown-flex__text {
  font-size: 14px;
  font-weight: 400;
}
.search-dropdown .search-dropdown-flex .search-dropdown-flex__text--bold {
  font-weight: 700;
}
.search-dropdown .search-dropdown__history-text {
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid #b4b4b4;
  margin-bottom: 8px;
  padding-bottom: 3px;
  padding-top: 3px;
}
.search-dropdown .search-dropdown__history-text:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
.userplace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}
.userplace .userplace-card {
  color: #000;
  margin-right: 30px;
}
.userplace .userplace-card:last-child {
  margin-right: 0;
}
.userplace .userplace-card img {
  width: 25px;
  height: 25px;
}
.userplace-card:hover .basket-container {
  display: block;
}
.basket-container {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  height: auto;
  width: 423px;
  right: 0;
  border-radius: 0 0 6px 6px;
  z-index: 1;
}
.basket-container .basket-container-center {
  padding: 25px 20px;
  width: 100%;
  box-sizing: border-box;
}
.basket-container .basket-container-center .basket-container-row {
  display: flex;
  justify-content: space-between;
}
.basket-container .basket-container-center .basket-container-row img {
  width: 101px;
  height: 136px;
}
.basket-container .basket-container-center .basket-container-row .basket-right-container {
  display: block;
}
.basket-container .basket-container-center .basket-container-row .basket-right-container .basket-right-container__text {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}
.basket-container .basket-container-center .basket-container-row .basket-right-container .basket-right-container__text--muted {
  color: #808080;
}
.basket-container .basket-container-center .basket-container-row .basket-right-container .basket-right-container__price {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
}
.basket-container .basket-container-center .basket-container-row .basket-right-container .basket-right-container__icon {
  width: 20px;
  height: 20px;
}
.basket-container .basket-container-center .basket-container-footer {
  display: block;
  width: 100%;
  border-top: 1px solid #F0F0F0;
  padding-top: 20px;
  margin-top: 20px;
}
.basket-container .basket-container-center .basket-container-footer .basket-container-footer__text {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  text-align: right;
}
.basket-container .basket-container-center .basket-container-footer .basket-container-footer__text span {
  color: red;
  font-weight: 700;
}
.basket-container .basket-container-center .basket-container-footer .basket-container-footer__view-bag {
  background-color: #000;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
  margin-top: 10px;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}
.navbar .navbar-nav {
  list-style: none;
  display: flex;
  width: 100%;
}
.navbar .navbar-nav .nav-item {
  flex-shrink: 0;
  flex-grow: 1;
}
.navbar .navbar-nav .nav-item:hover:not(.active) {
  box-shadow: inset 0 -2px 0 0 #000;
}
.navbar .navbar-nav .nav-item .nav-item__link {
  font-size: 14px;
  line-height: 34px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  color: #000;
  letter-spacing: 0.18px;
}
.navbar .navbar-nav .nav-item .nav-item__link:hover:not(.active) {
  font-weight: 600;
}
.navbar .navbar-nav .nav-item .nav-item__link--active {
  font-weight: 600;
  box-shadow: inset 0 -2px 0 0 #000;
}
.navbar .navbar-nav .nav-item:hover .nav-dropdown {
  display: block;
}
.nav-dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 12px 16px;
  height: auto;
  width: 100%;
  left: 0;
  border-radius: 0 0 6px 6px;
  z-index: 1;
}
.nav-dropdown .nav-dropdown-center {
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row {
  display: flex;
  justify-content: space-between;
  height: auto;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column {
  width: auto;
  height: auto;
  float: left;
  padding: 0 25px 0 1px;
  box-sizing: border-box;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box {
  margin-bottom: 10px;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box .nav-dropdown-box__link {
  font-size: 15px;
  color: #333;
  text-decoration: none;
  font-weight: 600;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box .nav-dropdown-box__link:hover {
  text-decoration: underline;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box ul {
  list-style: none;
  margin-top: 10px;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box ul li {
  padding-bottom: 4px;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box ul li a {
  font-size: 13px;
  color: #666;
  text-decoration: none;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .nav-dropdown-column .nav-dropdown-box ul li a:hover {
  text-decoration: underline;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .campaign-container {
  display: flex;
  justify-content: center;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .campaign-container .campaign-column {
  margin-left: 15px;
  width: 265px;
  padding: 0;
  text-align: right;
  height: 300px;
  float: left;
  box-sizing: border-box;
  overflow: hidden;
}
.nav-dropdown .nav-dropdown-center .nav-dropdown-row .campaign-container .campaign-column img {
  margin-bottom: 15px;
  height: 137px;
  width: 265px;
  border: 0.8px solid #e7e7e7;
  border-radius: 6px;
}
.brand-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  margin: 25px 0;
}
.brand-slider .brand-card {
  text-decoration: none;
  text-align: center;
  color: black;
}
.brand-slider .brand-card .brand-card__img {
  width: 64px;
  height: 64px;
  padding: 2px;
  transition: 0.3s;
  border: transparent;
  border-radius: 50px;
  background-image: linear-gradient(white, white), linear-gradient(209.43deg, #9E2692 12.36%, #FAA958 89.4%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.brand-slider .brand-card .brand-card__text {
  margin-top: 10px;
  font-size: 11px;
  font-weight: 400;
  transition: 0.3s;
}
.brand-slider .brand-card .brand-card__text:hover {
  color: #222222;
}
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.slider .slider__img {
  width: 100%;
  height: auto;
}
.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.category-container .category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  background-color: #E0E0E0;
  height: 95px;
  width: 220px;
}
.category-container .category-card .category-card__img {
  margin-right: 20px;
}
.category-container .category-card .category-card__text {
  font-size: 18px;
}
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin: 20px 0;
}
.banner .banner__img {
  width: 100%;
  height: auto;
}
.banner-double {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.banner-double .banner-double__img {
  width: 100%;
  height: auto;
}
.footer {
  background-color: #222222;
  color: white;
  padding: 20px;
  margin-top: 100px;
  display: block;
  width: 100%;
}
.footer .footer-card {
  color: white;
}
.footer .footer-card .footer-card__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
.footer .footer-card .footer-card__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}
.footer .footer-card .footer-card__link .footer-card__icon {
  width: 20px;
  margin-right: 5px;
}
.footer-bottom {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.footer-bottom .footer-bottom__text {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0;
}
.breadcrumbs .breadcrumbs__link {
  text-decoration: none;
  color: #4A4A4A;
  font-size: 13px;
  font-weight: 400;
}
.breadcrumbs span {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 13px;
  font-weight: 400;
}
.top-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 20px 35px;
  background-color: #C4C4C436;
}
.top-search .top-search__btn {
  padding: 5px 15px;
  border: 1px solid #515151;
  background-color: #fff;
  color: black;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
}
.sort-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.sort-container .sort-container__text {
  margin-right: 5px;
  font-weight: 400;
}
.sort-container .sort-container__name {
  color: black;
  font-size: 14px;
  font-weight: 400;
}
.sort-container .sort-container__name span {
  color: #515151;
  font-size: 12px;
}
.sort-select {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sort-select .sort-select__text {
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px;
}
.sort-select .sort-select__select {
  outline: none;
  border: 1px solid #F2F2F2;
  padding: 5px 0px;
  font-size: 14px;
  font-weight: 700;
}
.sort-select .sort-select__select--normal {
  font-weight: normal;
}
.sort-select .sort-select__select--big {
  padding: 10px 20px;
  font-size: 16px;
}
.sort-select .sort-select__select--bg-grey {
  background-color: #F2F2F2;
}
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.product-container-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  margin: 20px 0;
}
.product-card {
  display: block;
  position: relative;
  text-decoration: none;
  width: 230px;
  height: auto;
}
.product-card .product-card__header {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.product-card .product-card__header--bold {
  font-weight: 700;
}
.product-card .product-card__header--small {
  font-size: 14px;
}
.product-card .product-card__header--big {
  font-size: 25px;
}
.product-card .product-card__top-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 5px 0;
  margin: 5px 40px;
  font-size: 14px;
}
.product-card .product-card-body {
  width: 100%;
}
.product-card .product-card-body .product-card-body__header {
  font-size: 13px;
  font-weight: 400;
  color: #000;
}
.product-card .product-card-body .product-card-body__header--bold {
  font-weight: 700;
}
.product-card .product-card-body .product-card-body__header--big {
  font-size: 18px;
}
.product-card .product-card-body .product-card-body__header--line-throught {
  text-decoration: line-through;
}
.product-card .product-card-body .product-card-body__header--grey {
  color: #696363;
}
.product-card .product-card-body .color-select .span--red {
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  background: #ec0000;
  margin-left: 5px;
}
.product-card .product-card-body .color-select .span--black {
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  background: black;
  margin-left: 5px;
}
.product-card .product-card-body .color-select .span--yellow {
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  background: yellow;
  margin-left: 5px;
}
.product-card .product-card-body .product-card-body {
  padding: 5px 20px;
}
.product-card .product-card-body .product-card-body .product-card-body__header {
  font-size: 13px;
  font-weight: 400;
  color: #000;
}
.product-card .product-card-body .product-card-body .product-card-body__header--small {
  font-size: 10px;
}
.product-card .product-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}
.product-card .product-card-footer .product-card-footer__header {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.product-card .product-card-footer .product-card-footer__price {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.product-card .product-card-footer .product-card-footer__price--line-through {
  text-decoration: line-through;
  color: #878787;
}
.product-card .product-card-footer--overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}
.product-card--300 {
  width: 280px;
}
.container-product-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 25px 0;
}
.container-product-detail .left-container {
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.container-product-detail .left-container .product-slide-container {
  width: 100px;
}
.container-product-detail .left-container .product-slide-container img {
  margin-bottom: 20px;
}
.container-product-detail .left-container .product-main-image-container {
  width: 485px;
  position: relative;
}
.container-product-detail .right-container {
  width: 550px;
}
.container-product-detail .right-container .right-container__text {
  font-weight: 700;
  margin-bottom: 10px;
}
.container-product-detail .right-container .right-container__text span {
  font-weight: 400;
}
.container-product-detail .right-container .right-container__text-muted {
  color: #787878;
}
.container-product-detail .right-container .right-container__text-icon {
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.container-product-detail .right-container .right-container__text-icon span img {
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  padding: 15px 8px;
  margin-left: 20px;
}
.container-product-detail .right-container .right-container__price {
  font-size: 36px;
  font-weight: 700;
  margin-top: 25px;
}
.container-product-detail .right-container .right-container__color {
  font-weight: 700;
  margin-top: 25px;
}
.container-product-detail .right-container .right-container__color span {
  font-weight: 400;
}
.container-product-detail .right-container .right-container__images {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.container-product-detail .right-container .right-container__images img {
  width: 110px;
  margin-right: 20px;
}
.container-product-detail .right-container .right-container-size {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.container-product-detail .right-container .right-container-size div {
  text-align: center;
  padding: 5px;
  margin-right: 15px;
  border: 1px solid #ccc;
  color: #7D7D7D;
  min-width: 30px;
  max-width: 40px;
  cursor: pointer;
}
.container-product-detail .right-container .right-container-size .right-container-size--active {
  color: #000;
  border: 1px solid #000;
}
.container-product-detail .right-container .right-container-button {
  display: flex;
  align-items: center;
  height: 50px;
  margin-bottom: 20px;
}
.container-product-detail .right-container .right-container-button .right-container-button__add-basket {
  background-color: #222222;
  color: #fff;
  padding: 20px 100px;
  font-size: 20px;
  font-weight: 700;
}
.container-product-detail .right-container .right-container-button .favorite-button {
  cursor: pointer;
}
.container-product-detail .right-container .right-container-button .favorite-button .favorite-button__icon {
  width: 70px;
  height: auto;
  padding: 20px;
  margin-left: 20px;
  border: solid 1px #000;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-product-detail .right-container .right-container-deliver {
  display: flex;
  flex-direction: column;
  background-color: #E8E8E8;
  padding: 10px 14px;
  width: 306px;
  margin-bottom: 25px;
}
.container-product-detail .right-container .right-container-deliver .deliver-card {
  display: flex;
}
.container-product-detail .right-container .right-container-deliver .deliver-card:first-child {
  margin-bottom: 10px;
}
.container-product-detail .right-container .right-container-deliver .deliver-card .deliver-card__icon {
  width: 50px;
}
.container-product-detail .right-container .right-container-deliver .deliver-card .deliver-card-body {
  display: block;
  margin-left: 10px;
}
.container-product-detail .right-container .right-container-deliver .deliver-card .deliver-card-body .deliver-card-body__header {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
}
.container-product-detail .right-container .right-container-deliver .deliver-card .deliver-card-body .deliver-card-body__title {
  font-size: 10px;
  margin-bottom: 12px;
}
.bag-product {
  display: flex;
  margin-top: 15px;
}
.bag-product .bag-product--left {
  width: 80%;
}
.bag-product .bag-product--right {
  width: 20%;
}
.bag-product .bag-product--center {
  width: 100%;
}
.bag-product .bag-product-container {
  background-color: #fff;
  padding: 15px 50px;
}
.bag-product .bag-product-container .bag-product-container__header {
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
.bag-product .bag-product-container .bag-product-container__header--center {
  text-align: center;
}
.bag-product .bag-product-container .bag-product-container__header--underline {
  text-decoration: underline!important;
}
.bag-product .bag-product-container--center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.bag-product .bag-product-container--little {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #eee;
}
.bag-product .bag-product-container--little .bag-product-container__header {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}
.bag-product .bag-product-container--little .bag-product-container__header--bold {
  font-weight: 700;
}
.counter {
  font-size: 18px;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  padding: 5px 20px;
}
.counter span {
  border-right: 1px solid #c4c4c4;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}
.counter span:last-child {
  border: none;
  padding-right: 0;
}
.shoping-free-container {
  background-color: #fff;
  border: 1px solid #eee;
  width: 100%;
  display: block;
  padding: 20px;
  margin-bottom: 10px;
}
.shoping-free-container .shoping-free-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.shoping-free-container .shoping-free-card img {
  width: 40px;
  height: 40px;
}
.shoping-free-container .shoping-free-card .shoping-free-card__text {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.shoping-free-container .shoping-free-card .shoping-free-card__text--muted {
  font-weight: 300;
}
.form-flex {
  display: flex;
  justify-content: space-between;
}
.form__input {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  padding: 25px 20px;
  outline: none;
  border: 1px solid #4A4A4A;
}
.form__input::placeholder {
  font-size: 14px;
  color: #B6B5B5;
}
.form__input--bold {
  font-weight: 700;
}
.form__input-square {
  width: 70px;
  height: 70px;
  padding: 25px 20px;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-right: 20px;
  outline: none;
  border: 1px solid #4A4A4A;
}
.form__input-square:last-child {
  margin-right: 0;
}
.form-label {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  user-select: none;
}
.form-label .form-label__input {
  opacity: 0;
  cursor: pointer;
}
.form-label .form-label__input:checked ~ .form-label__checkmark-checkbox {
  background-color: #4A4A4A;
}
.form-label .form-label__input:checked ~ .form-label__checkmark-checkbox:after {
  display: block;
}
.form-label .form-label__input:checked ~ .form-label__checkmark-radio {
  background-color: #4A4A4A;
}
.form-label .form-label__input:checked ~ .form-label__checkmark-radio:after {
  display: block;
}
.form-label .form-label__checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.form-label .form-label__checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
.form-label .form-label__checkmark-checkbox:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-label .form-label__text {
  font-size: 14px;
  margin-left: -15px;
}
.form-label .form-label__checkmark-radio {
  position: absolute;
  top: 40%;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}
.form-label .form-label__checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}
.form-label .form-label__checkmark-radio:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}
.form-label:hover input ~ .form-label__checkmark-checkbox {
  background-color: #ccc;
}
.form-label:hover input ~ .form-label__checkmark-radio {
  background-color: #ccc;
}
.form-label--order {
  margin-bottom: 10px;
  font-weight: 500;
}
.form-label--little {
  font-size: 12px;
}
.input-prepend {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: -1px;
  border-top: 1px solid #4A4A4A;
  border-bottom: 1px solid #4A4A4A;
  border-left: 1px solid #4A4A4A;
  border-right: 1px solid #4A4A4A;
  height: 60px;
  padding: 0 15px;
}
.input-prepend .input-prepend__text {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
.input-prepend img {
  width: 20px;
  height: auto;
}
.form-select {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
  padding: 0px 20px;
  outline: none;
  border: 1px solid #4A4A4A;
  color: #B6B5B5;
}
.form-select--bold {
  color: black;
  font-weight: 700;
}
.bag-product-card {
  background-color: #FBFBFB;
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  padding: 25px 50px;
}
.bag-product-card img {
  width: 20px;
  height: auto;
}
.bag-product-card .bag-product-card-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.bag-product-card .bag-product-card-header .bag-product-card-header__img {
  width: 27px;
  margin-left: 150px;
}
.bag-product-card .bag-product-card-header .bag-product-card-header__img--big {
  width: 39px;
}
.bag-product-card .bag-product-card-header .bag-product-card-header__text {
  font-size: 14px;
  font-weight: 700;
}
.bag-product-card:first-child {
  margin-right: 10px;
}
.bag-product-card .bag-product-card__text {
  font-size: 14px;
  font-weight: 400;
}
.bag-product-card .bag-product-card__text--muted {
  color: #787777;
  margin-left: 35px;
}
.bag-product-card .bag-product-card__text--bold {
  font-weight: 700;
}
.bag-product-card .bag-product-card__text--big {
  font-size: 18px;
}
.bag-product-card--white {
  background-color: white!important;
  border: 1px solid black;
  padding: 10px 15px;
  display: block;
}
.bag-product-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bag-product-row--column {
  flex-direction: column;
}
.bag-product-row--column .bag-product-card:first-child {
  margin-right: 0px;
  margin-bottom: 10px;
}
.btn {
  display: block;
  text-decoration: none;
  text-align: center;
}
.btn--primary {
  background-color: #222222;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}
.btn--primary-outline {
  border: 1px solid #222222;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px;
}
.btn--big {
  font-size: 18px;
  padding: 15px 85px;
}
.btn--little {
  padding: 15px;
  font-size: 12px;
}
.btn--bold {
  font-weight: 700;
}
.btn-secondary {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  padding: 5px 15px;
  margin-top: 15px;
  margin-bottom: 60px;
  background-color: #dadada;
  color: #222222;
}
.btn-secondary--little {
  font-size: 16px;
}
.bag-product-block {
  background-color: #fff;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  padding: 25px 50px;
  margin-bottom: 2px;
}
.bag-product-block .bag-product-block--left {
  width: 30%;
  display: flex;
  align-items: center;
}
.bag-product-block .bag-product-block--right {
  width: 70%;
}
.bag-product-block .bag-product-block--right .bag-product-block__header--little {
  font-size: 14px;
}
.bag-product-block .bag-product-block--right .bag-product-block__header--bold {
  font-weight: 700;
  font-size: 14px;
}
.bag-product-block .bag-product-block--right .bag-product-block__header--big {
  font-size: 18px;
}
.bag-product-block .bag-product-block--right .bag-product-block__header--grey {
  color: #737272;
}
.bag-product-block .bag-product-block--right .bag-product-block__size {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}
.bag-product-block .bag-product-block--right .bag-product-block__size span {
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  background: #000;
  margin-left: 10px;
}
.bag-product-block .bag-product-block--right .bag-product-block__size--yellow {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
}
.bag-product-block .bag-product-block--right .bag-product-block__size--yellow span {
  border-radius: 50%;
  padding-left: 10px;
  padding-right: 10px;
  background: #e0e004;
  margin-left: 10px;
}
.bag-product-block .bag-product-block--right .bag-product-discount {
  display: flex;
  justify-content: end;
  margin: 10px 0;
}
.bag-product-block .bag-product-block--right .bag-product-discount .bag-product-discount__price {
  font-size: 14px;
  text-decoration: line-through;
  color: #696969;
}
.bag-product-block .bag-product-block--right img {
  width: 20px;
  height: 25px;
}
.product-detail-description {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 30px;
}
.description-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F3F3F3;
  border-radius: 14px;
  padding: 30px 40px;
  width: 100%;
}
.description-card .description-card__text {
  font-size: 18px;
  font-weight: 300;
}
.description-card .description-card__text--bold {
  font-weight: 700;
}
.description-card--full {
  grid-column-start: 1;
  grid-column-end: 3;
}
.sidebar-filter {
  width: 200px;
  margin-right: 30px;
}
.sidebar-filter .filter-section {
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 185px;
}
.sidebar-filter .filter-section .filter-section__header {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}
.sidebar-filter .filter-section .filter-section__search {
  margin-bottom: 10px;
  outline: none;
  border: 1px solid #e2e2e2;
  background-color: #fafafa;
  height: 25px;
  padding: 0 10px;
  font-size: 12px;
  color: #4b4b4b;
}
.sidebar-filter .filter-section .filters {
  max-height: 100px;
  position: relative;
  margin-bottom: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}
.sidebar-filter .filter-section .filters .filters__link {
  color: #1b1b1b;
  display: flex;
  align-items: center;
  padding: 1px;
  margin: 5px 0;
  font-size: 14px;
}
.filter-btn {
  border: 1px solid black;
  background-color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  margin-right: 10px;
}
.filter-btn span {
  font-size: 18px;
}
.product-color {
  display: flex;
  justify-content: start;
  align-items: center;
}
.product-color span {
  border-radius: 50%;
  width: 15px;
  padding: 7px;
  margin-right: 5px;
}
.product-color .black {
  background-color: #202020;
}
.product-color .red {
  background-color: #E21616;
}
.product-color .yellow {
  background-color: #FAA958;
}
.product-color .green {
  background-color: #353905;
}
.product-color .blue {
  background-color: #477B97;
}
.product-color .light {
  background-color: #c0c0c0;
}
.item1 {
  grid-area: sidebar;
  height: 855px;
  width: 292px;
}
.item2 {
  grid-area: header;
  height: 111px;
  width: 900px;
}
.item3 {
  grid-area: body;
  height: 736px;
  width: 900px;
}
.user-grid-container {
  display: grid;
  grid-gap: 5px;
  padding: 10px;
  grid-template-areas: 'sidebar header' 'sidebar body' 'sidebar body';
}
.user-grid-container > div {
  background-color: #fff;
}
.sidebar-user-info {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 25px;
}
.sidebar-user-info img {
  width: 70px;
  height: auto;
}
.sidebar-user-info .sidebar-user-header {
  margin-left: 20px;
}
.sidebar-user-info .sidebar-user-header .sidebar-user-header__name {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
.sidebar-user-info .sidebar-user-header .sidebar-user-header__name--big {
  font-size: 24px;
}
.sidebar-user-info .sidebar-user-header .sidebar-user-header__number {
  font-size: 14px;
  font-weight: 300;
}
.layout-item {
  display: flex;
  align-items: center;
  padding-left: 25px;
  margin-bottom: 25px;
}
.layout-item img {
  width: 25px;
  margin-right: 10px;
}
.layout-item span {
  font-size: 18px;
  font-weight: 300;
  color: #6D6D6D;
}
.layout-item--active {
  background-color: #c4c4c482;
  padding-top: 15px;
  padding-bottom: 15px;
}
.layout-item--active span {
  font-weight: 700;
  color: #000;
}
.user-grid-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 20px;
}
.user-grid-header .user-grid-header__header {
  font-size: 24px;
  font-weight: 400;
  color: #444444;
}
.user-grid-header .user-grid-header__header--bold {
  font-weight: 700;
}
.user-grid-body {
  text-align: center;
}
.user-grid-body img {
  width: 100px;
  margin-bottom: 40px;
}
.user-grid-body .user-grid-body__header {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 55px;
}
.user-grid-body .btn {
  font-size: 24px;
  font-weight: 700;
}
.bag-product-header {
  background-color: #fff;
  border: 1px solid #eee;
  width: 100%;
  display: flex;
  padding: 40px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.bag-product-header .bag-product-header__title {
  font-size: 18px;
  font-weight: 300;
}
.bag-product-header-outline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #3e3d3d;
}
.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
}
.pagination .pagination__title {
  font-size: 14px;
  font-weight: 400;
  color: #555555;
}
.pagination .pagination__btn {
  font-size: 14px;
  color: #555555;
}
.pagination .pagination__number {
  background-color: #1c1b1b3b;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 50px;
  padding: 5px 10px;
}
.pagination .pagination__number--active {
  background-color: #222222;
  color: #fff;
}
.confirmation-table {
  text-align: left;
  margin-left: 100px;
}
.confirmation-table td,
.confirmation-table th {
  padding-bottom: 30px !important;
  padding-left: 100px;
  font-size: 18px;
}
.confirmation-table td {
  font-weight: 300;
  color: #6D6D6D;
}
.confirmation-table th {
  font-weight: 700;
  color: #6D6D6D;
}
.confirmation-table th span {
  font-size: 14px;
  font-weight: 300;
}
.question-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  color: #404040;
  padding: 15px 0;
}
.question-wrapper .question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-wrapper .question-header .question-header__header {
  font-weight: 500;
  font-size: 16px;
}
.question-wrapper .question-header .question-header__img {
  width: 20px;
  height: auto;
  margin-bottom: 0;
}
.question-wrapper .question-answer-box {
  line-height: 18px;
  letter-spacing: 1px;
  font-size: 12px;
  padding-bottom: 20px;
}
.question-wrapper:not(:first-child) {
  border-top: solid 1px #e6e6e6;
}
